<!DOCTYPE html>

<html>
  <head>
    <title>nodekick</title>
    <script src="/bower_components/jquery/jquery.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/pixi/bin/pixi.js"></script>
    <script src="/bower_components/soundmanager/script/soundmanager2.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/app/app.js"></script>
    <script src="/common/world.js"></script>
    <script src="/public/app/assets.js"></script>
    <script src="/public/app/playerSprites.js"></script>
    <script src="/public/app/deathAnimations.js"></script>
    <script src="/public/app/drawer.js"></script>
    <script src="/public/app/achievements.js"></script>
    <script src="/public/app/chat.js"></script>
    <script src="/public/app/gameProxy.js"></script>
    <script src="/public/app/gamepad.js"></script>
    <script src="/public/app/notification.js"></script>
    <script src="/public/app/ai.js"></script>
    <script src="/public/app/index.js"></script>
    <script src="/public/jquery.cookie.js"></script>
    <link href="/public/animate.css" rel="stylesheet" />
    <link href="/public/game.css" rel="stylesheet" />
  </head>
  <body style="background-color: black; color: silver;">
    <div id="content">
      <div id="stage">
      </div>
      <div style="color: Gray; font-family: Impact">
        <div style="width: 16.5%; float: left; text-align: left;">&nbsp;</div>
        <div style="width: 16.5%; float: left; text-align: left;">Killing Streak</div>
        <div style="width: 16.5%; float: left; text-align: left;">Rampage</div>
        <div style="width: 16.5%; float: left; text-align: left;">Dominating</div>
        <div style="width: 16.5%; float: left; text-align: left;">Unstoppable</div>
        <div style="width: 16.5%; float: left; text-align: left;">Godlike</div>
        <div id="streakProgress" style="border: solid 1px silver; height: 20px; background-color: white; margin-top: 10px;">

        </div>
      </div>
      <div id="chatcontainer">
        <input type="text" id="chatMessage" placeholder="chat: type message and press enter" />
        <div id="chatMessages" style="height: 300px; overflow: auto;">

        </div>
      </div>
      <div id="instructions">
        <div>
          <h3>Instructions for multiplayer fighting game (bring your friends)</h3>
          <ul>
            <li>Press the <strong>up arrow</strong> on your keyboard to <strong>spawn a fighter</strong>.</li>
            <li><strong>While standing</strong>, press the <strong>up arrow</strong> on your keyboard to <strong>to jump</strong>.</li>
            <li><strong>While in the air</strong>, press the <strong>left or right arrow</strong> keys on your keyboard to <strong>attack left and right</strong>.</li>
            <li><strong>While standing</strong>, press the <strong>down arrow</strong> on your keyboard to <strong>jump backwards</strong>.</li>
            <li><strong>While standing</strong>, press the <strong>left or right arrow</strong> keys on your keyboard to <strong>change the direction you are facing</strong>.</li>
          </ul>
        </div>
        <div id="bot" style="display: none">
          <h3>Or Start a Bot (enter raw gist url to run a bot)</h3>
          <input type="text" id="ai" style="width: 100%" />
          <input type="button" id="loadScript" value="start bot" />
        </div>
      </div>
    </div>
    <script>
      $(function() {
        if(document.location.href.match(/bot/)) {
          $("#bot").show();
        }

        $("input").css({
          "background-color": "black",
          color: "#f5f5f5",
          border: "solid 1px silver;"
        });

        $("#ai").val("https://gist.github.com/amirrajan/7609280/raw");

        $("#loadScript").click(function() {
          $(".ai").remove();
          var scriptToAppend = $('<script class="ai"><\/script>');
          scriptToAppend.attr('src', $("#ai").val());
          scriptToAppend.appendTo("#content");
        });
      });

    </script>
  </body>
</html>
