<!DOCTYPE html>

<html>
  <head>
    <title>nodekick</title>
    <script src="/bower_components/jquery/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/app/app.js"></script>
    <script src="/public/app/assets.js"></script>
    <script src="/public/app/drawer.js"></script>
    <script src="/public/app/game.js"></script>
    <script src="/public/app/gamepad.js"></script>
    <script src="/public/app/index.js"></script>
  </head>
  <body>
    <canvas id='stage' style='border: solid 1px silver' width='1280' height='700'></canvas>
  </body>
</html>

