<!DOCTYPE html>

<html>
  <head>
    <title>nodekick</title>
    <script src="/bower_components/jquery/jquery.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/app/app.js"></script>
    <script src="/public/app/assets.js"></script>
    <script src="/public/app/drawer.js"></script>
    <script src="/public/app/gameProxy.js"></script>
    <script src="/public/app/gamepad.js"></script>
    <script src="/public/app/index.js"></script>
  </head>
  <body>
    <div style="float: left; border: solid 1px silver; padding: 3px; padding-bottom: 33px;">
      <textarea id="ai" rows="35" cols="55" style="border: none; font-size: 16px; font-family: monospace;">
      </textarea><br/>
      <input type="button" id="loadScript" value="start bot" />
      <input type="button" id="loadDefault" value="load default script" />
    </div>
    <div style="float: left;">
      <canvas id='stage' style='border: solid 1px silver' width='1280' height='700'></canvas>
      <canvas id="deathCanvas" width="75" height="150" style="display: none; border: solid 1px silver;"></canvas>
    </div>
    <script id="defaultAIScript" type="aiscript">
(function() {
  function tick(you, them) {
    //if you is false, then you are
    //not spawned at this point
    //return up, left or right to spawn
    if(you) {
      return "up";
    }
    //console.log(you);
    //console.log(them);
    //return "left";
    //return "right";
    //return "down";
    //return false;
    return "up";
  }

  app.ai = { };
  app.ai.tick = tick;
})();
    </script>
    <script>
      function loadDefaultAIScript() {
        $("#ai").val($("#defaultAIScript").html());
      }
      
      $(function() {
        if(localStorage.ai) {
          $("#ai").val(localStorage.ai);
        } else {
          loadDefaultAIScript();
        }
        
        $("#loadDefault").click(function() {
          loadDefaultAIScript();
        });

        $("#loadScript").click(function() {
          $(".ai").remove();
          var code = $("#ai").val();
          localStorage.ai = code;
          var scriptToAppend = $('<script class="ai"><\/script>');
          scriptToAppend.html(code);
          scriptToAppend.appendTo("body");
        });
      });

    </script>
  </body>
</html>
