<!DOCTYPE html>

<html>
  <head>
    <title>nodekick</title>
    <script src="/bower_components/jquery/jquery.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/pixi/bin/pixi.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/app/app.js"></script>
    <script src="/common/gravity.js"></script>
    <script src="/public/app/assets.js"></script>
    <script src="/public/app/playerSprites.js"></script>
    <script src="/public/app/deathAnimations.js"></script>
    <script src="/public/app/drawer.js"></script>
    <script src="/public/app/gameProxy.js"></script>
    <script src="/public/app/gamepad.js"></script>
    <script src="/public/app/ai.js"></script>
    <script src="/public/app/index.js"></script>
  </head>
  <body>
    <div style="width: 100%; max-width: 1280px; margin-left: auto; margin-right: auto">
      <div id="stage" style="border: solid 1px silver; width: 100%; max-width: 1280px;">
      </div>
      <div>
        <h3>Instructions for multiplayer fighting game (bring your friends)</h3>
        <ul>
          <li>Press the <strong>up arrow</strong> on your keyboard to <strong>spawn a fighter</strong>.</li>
          <li><strong>While standing</strong>, press the <strong>up arrow</strong> on your keyboard to <strong>to jump</strong>.</li>
          <li><strong>While in the air</strong>, press the <strong>left or right arrow</strong> keys on your keyboard to <strong>attack left and right</strong>.</li>
          <li><strong>While standing</strong>, press the <strong>down arrow</strong> on your keyboard to <strong>jump backwards</strong>.</li>
          <li><strong>While standing</strong>, press the <strong>left or right arrow</strong> keys on your keyboard to <strong>change the direction you are facing</strong>.</li>
        </ul>
      </div>
      <div>
        <h3>Or Start a Bot (enter raw gist url to run a bot)</h3>
        <input type="text" id="ai" style="width: 600px" />
        <input type="button" id="loadScript" value="start bot" />
      </div>
      <div>
        <hr/>
        <a href="https://github.com/amirrajan/nodekick" target="_blank">Fork me on GitHub</a>
        <br/>
        <br/>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.0/">
          <img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-nc-sa/2.0/88x31.png" /></a>
          This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.0/">Creative Commons Attribution-NonCommercial-ShareAlike 2.0 Generic License</a>.
          <br />
      </div>
    </div>
    <script>
      $(function() {
        $("#ai").val("https://gist.github.com/amirrajan/7609280/raw");

        $("#loadScript").click(function() {
          $(".ai").remove();
          var scriptToAppend = $('<script class="ai"><\/script>');
          scriptToAppend.attr('src', $("#ai").val());
          scriptToAppend.appendTo("body");
        });
      });

    </script>
  </body>
</html>
